header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
    background-color: $color-white;
    box-shadow: $drop-shadow;
    .inside {
        .topbar {
            @extend %contentwidth;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                height: 60px;
                a {
                    display: block;
                    height: 100%;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        .mainmenu {
            background-color: $color-boxes;
            .mod_navigation {
                @extend %contentwidth;
            }
        }
    }
}