// CSS Resets and normalization

body {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input, button, textarea {
    outline: none;
    line-height: inherit;
}

figure {
  margin: 0;
}

%reset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}