// Global font sizing

body {
    font-family: $font-family-text;
    font-weight: $font-weight-normal;
    line-height: 1.5;
    color: $color-text;
    font-size: 15pt;
}

p {
    margin: 0.5em 0;
}

strong, b {
    font-weight: $font-weight-bold;
}

a {
    color: $color-active;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $color-active-over;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headline;
    font-weight: $font-weight-bold;
    margin: 1em 0 0.5em 0;
}

h1 {
    font-size: 36pt;
    margin-top: 0;
}
h2 {
    font-size: 30pt;
}
h3 {
    font-size: 20pt;
}
h4 {
    font-size: 15pt;
}
h5 {
    font-size: 15pt;
}
h6 {
    font-size: 15pt;
}

.small {
    font-size: 80%;
}

// Fonts and especially headlines should usually be a bit smaller on small devices

@media (max-width: $show-mobile-menu) {
    body {
        font-size: 14pt;
    }
    h1 {
        font-size: 32pt;
    }
    h2 {
        font-size: 24pt;
    }
    h3 {
        font-size: 18pt;
    }
    h4 {
        font-size: 14pt;
    }
    h5 {
        font-size: 14pt;
    }
    h6 {
        font-size: 14pt;
    }
}
