.mod_navigation {
    ul.level_1 {
        display: flex;
        justify-content: start;
        @extend %reset-list;
        & > li {
            position: relative;
            & > a, & > strong {
                display: block;
                padding: 20px 25px;
                font-weight: $font-weight-bold;
                text-decoration: none;
                color: $color-active;
                transition: background-color 0.2s, color 0.2s;
            }
            & > a:hover, & > .active, & > .trail {
                color: $color-white;
                background-color: $color-active;
            }
        }
    }

    ul.level_2 {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        @extend %reset-list;
        background-color: $color-white;
        box-shadow: $drop-shadow;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        & > li {
            & > a, & > strong {
                display: block;
                padding: 20px 25px;
                text-decoration: none;
                color: $color-active;
                transition: background-color 0.2s;
            }
            & > a:hover, & > .active, & > .trail {
                background-color: $color-boxes;
            }
        }
    }

    ul.level_1 > li:hover ul.level_2 {
        max-height: calc(100vh - 100px);
    }
}
