.ce_form {

    label {
        @extend .small;
        margin-bottom: 6px;
    }

    input[type='text'], input[type='password'], input[type='number'], input[type='date'], input[type='email'], input[type='tel'], input[type='search'], select, textarea {
        font-family: $font-family-text;
        color: $color-text;
        display: block;
        width: 100%;
        border: 1px solid $color-lines;
        padding: 6px 10px;
        transition: background-color 0.2s ease-in-out;

        &:focus {
            background-color: $color-boxes;
            outline: none;
        }
    }

    .widget-select {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            display: block;
            right: 10px;
            bottom: 9px;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-image: url("../../img/angle.svg");
            transform: rotate(90deg);
            pointer-events: none;
        }
        select {
            appearance: none;
            padding: 9px 40px 9px 10px;
        }
        select::-ms-expand {
            display: none;
        }
    }

    textarea {
        resize: vertical;
    }

    .formbody {

        .widget {
            margin-bottom: 0.6em;
        }

    }


}
