.ce_sliderStart {

    margin: $ce-margin 0;
    
    .tns-outer {
        position: relative;

        button {
            background-color: transparent;
            padding: 0;
            color: $color-active;
            transition: background-position 0.2s ease-in-out;
        }
        .tns-controls {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(50% - 45px);
            button {
                position: absolute;
                top: 0;
                background-repeat: no-repeat;
                background-image: url("../../img/angle.svg");
                background-position: -5px 0;
                width: 40px;
                height: 40px;

                &:hover {
                    background-position: 5px 0;
                }

                &:first-child {
                    left: -50px;
                    transform: rotate(180deg);
                }

                &:last-child {
                    right: -50px;
                }
            }
        }

        .slider-wrapper {
            & > * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .tns-nav {
            display: flex;
            justify-content: center;
            button {
                width: 30px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $color-active;
                    transition: width 0.2s ease-out, height 0.2s ease-out, background-color 0.2s;
                }
                &:hover {
                    &:before {
                        background-color: $color-active-over;
                    }
                }
                &.tns-nav-active {
                    &:before {
                        width: 12px;
                        height: 12px;
                        background-color: $color-active-over;
                    }
                }
            }
        }
    }

    .slider-control {
        display: none;
    }
}
